<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="OpReturnController" data-ng-init="findOne()">
  <h1>OpReturn {{opreturn.value}}</h1>
  <div class="text-muted" data-ng-if="!opreturn.hash">
    <span translate>Loading OpReturn Information</span>  <span class="loader-gif"></span>
  </div>
  <div data-ng-if="opreturn.hash">
    <div class="well well-sm ellipsis">
      <strong>OpReturn Hash</strong> 
      <span class="txid text-muted">{{opreturn.hash}}</span>
      <span class="btn-copy" clip-copy="opreturn.hash"></span>
    </div>
  </div>
  <div data-ng-if="opreturn.hash" data-ng-controller="transactionsController" data-ng-init="load('block')">
    <h3 translate>Transactions</h3>
    <div data-ng-include src="'views/transaction/list.html'" when-scrolled="loadMore()"></div>
  </div>

</section>

