<section data-ng-controller="OutstandingController">
    <div class="page-header">
        <h1>
            <span translate>Current outstanding in Virtual Token network</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label for="transactions" class="col-sm-2 control-label" translate>
                            Transactions
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="transactions" data-ng-model="outstanding.transactions" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txouts" class="col-sm-2 control-label" translate>
                            UTXOs
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txouts" data-ng-model="outstanding.txouts" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label for="outstanding" class="col-sm-2 control-label" translate>
                            Total Amount
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="total_amount" value="{{(outstanding.total_amount / 10000).toFixed(4)}}" disabled >
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div data-ng-controller="transactionsController" data-ng-init="load('sendToIban')">
        <h3 translate>Send to IBAN Transactions</h3>
        <h3>Total sent: {{$root.currency.getConvertionValue(totalSentToIBAN)}}</h3>
        <div data-ng-include src="'views/transaction/list.html'" when-scrolled="loadMore()"></div>
      </div>
</section>