<section data-ng-controller="SendRawTransactionController">
  <div class="page-header">
    <h1>
      <span translate>Send Transaction</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <form name="txForm" class="form-horizontal" role="form" novalidate>
        <!-- TX id -->
        <div class="form-group"
              ng-class="{ 'has-error': txForm.rawData.$error.pattern }">

          <label for="transaction-id" class="col-sm-2 control-label" translate>
            Transaction Id
          </label>
          <div class="col-sm-10">
            <input class="form-control" id="transaction-id" name="rawData"
                data-ng-model="txidToSpend" data-ng-pattern="/^[0-9A-Fa-f]+$/"
                required></input>
          </div>
        </div>

        <!-- vout -->
        <div class="form-group"
              ng-class="{ 'has-error': txForm.rawData.$error.pattern }">

          <label for="transaction-vout" class="col-sm-2 control-label" translate>
            Vout
          </label>
          <div class="col-sm-10">
            <input class="form-control" id="transaction-vout" name="rawData"
                data-ng-model="vout" data-ng-pattern="/^[0-9]+$/"
                required></input>
          </div>
        </div>   
        
        <!-- amount -->
        <div class="form-group"
              ng-class="{ 'has-error': txForm.rawData.$error.pattern }">

          <label for="transaction-amount" class="col-sm-2 control-label" translate>
            Amount
          </label>
          <div class="col-sm-10">
            <input class="form-control" id="transaction-amount" name="rawData"
                data-ng-model="amount" required></input>
          </div>
        </div>   
        
        <!-- Private Key -->
        <div class="form-group"
             ng-class="{ 'has-error': txForm.rawData.$error.pattern }">

          <label for="privKey" class="col-sm-2 control-label" translate>
            Insert private key here
          </label>
          <div class="col-sm-10">
            <input class="form-control" id="privKey" name="rawData"
                data-ng-model="privKey"
                required></input>
          </div>
        </div>

          <!-- Address -->
        <div class="form-group"
            ng-class="{ 'has-error': txForm.rawData.$error.pattern }">

          <label for="address" class="col-sm-2 control-label" translate>
            Insert address here
          </label>
          <div class="col-sm-10">
            <input class="form-control" id="address" name="rawData"
                data-ng-model="address"
                required></input>

          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" translate
                data-ng-click="send()" data-ng-disabled="!txForm.$valid">
              Send
            </button>
          </div>
        </div>
      </form>
      <div class="row">
        <div data-ng-hide="status == 'ready'"
             class="col-sm-offset-2 col-sm-10">
          <div ng-show="status == 'loading'" translate>
            Loading...
          </div>
          <div ng-show="status == 'sent'" class="alert alert-success" translate>
            Transaction succesfully broadcast.<br>Transaction id: {{txid}}
          </div>
          <div ng-show="status == 'error'" class="alert alert-warning" translate>
            An error occured:<br>{{error}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-gray">
      <p translate>
        <p>This form can be used to send a transaction over
        the vToken network.</p>
      <p>Use private key to sign transaction and address
        to specify destination.</p>
      </p>
    </div>
  </div>
</section>
